p{
    color: grey;
    font-size: 14px;
}

h1{
    font-size: 25px;
    color:black;
}

h2{
    font-size: 22px;
    color: black;
}

#random{
    color:green;
}

.grey{
    color: grey;
    font-size: 12px;
}

/* cats are cute*/